@font-face {
  font-family: "Gordita";
  src: url("../fonts/Gordita-Regular.ttf") format("truetype"),
    url("../fonts/Gordita-Regular.woff2") format("woff2");
  font-weight: normal;
}
body {
  font-family: "Gordita" !important;
}
.container {
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-auto-rows: minmax(100px, auto); */
  grid-gap: 10px;
  max-width: 740px;
  padding: 35px 20px;
  width: 100%;
}

.token {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 50px;
  transition: all 0.2s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.modal-header {
  padding-top: 0;
  padding-bottom: 2px;
}
.modal-body,
.modal-footer {
  border: 0px;
  position: relative;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
.navbar {
  box-shadow: 0px -1px 4px -1px;
  height: 58px;
}

.cursor-pointer {
  cursor: pointer;
}

.footer-bg {
  background: linear-gradient(
    96.47deg,
    rgba(255, 194, 9, 0.15) 12.61%,
    rgba(255, 142, 9, 0.15) 95.21%
  );
  border-radius: 0px 0px 20px 20px;
}
.modal-sub-title {
  font-size: 14px;
}
.modal-content {
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 20px;
}
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.dropdown-menu hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.dropdown-menu {
  width: 300px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* min-height: 400px; */
  margin-top: 8px;
}
.nav-tab {
  display: none;
}

.f-18 {
  font-size: 18px;
}

.dropdown-profile-section {
  padding-left: 23px;
  padding-top: 23px;
}
.profile {
  display: flex;
}

.profile .profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile .profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.profile-details .profile-name {
  font-size: 16px;
  font-weight: bold;
}
.profile-details .profile-rank {
  font-size: 12px;
  color: #979797;
}
.profile-rank .star-img {
  height: 16px;
  width: 16px;
}

.dropdown-profile-section .profile-stake {
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 200px;
  margin-top: 9px;
  background: linear-gradient(
    96.47deg,
    rgba(255, 194, 9, 0.15) 12.61%,
    rgba(255, 142, 9, 0.15) 95.21%
  );
  border-radius: 300px;
}
.profile-stake .nfty-logo {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  margin-right: 10px;
}
.dropdown-item:hover {
  background-color: #ffffff;
  color: #000000;
}

.dropdown-btn {
  border: 0;
  background-color: #ffffff;
  padding: 0;
}
.dropdown-btn .hamburger-icon {
  height: 16px;
  width: 16px;
  margin-left: 4px;
}
.profile-stake .stake-amount {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2px;
}
.navbar-brand .nfty-brand-logo {
  height: 30px;
}
.nav .nav-link {
  color: #000000;
  font-size: 15px;
  padding: 0rem 1rem;
}

.stake-data-percentage {
  color: #16d194;
  font-weight: 700;
  margin-left: 9px;
  min-width: 81px;
}
.stake-data-percentage .polygon-icon {
  height: 14px;
}
.active {
  height: 1.5px;
  background: #000000;
  margin-bottom: -19px;
}

.stakes .header-text {
  font-weight: 800;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.stakes .simple-text {
  opacity: 0.6;
  font-size: 14px;
}

.head-text {
  font-size: 18px;
  font-weight: 600;
}
.stakes .nfty-logo {
  height: 18px;
  margin-bottom: 7px;
  margin-right: 7px;
}

.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}

.stakes .special-nfty-reward {
  background: #ffffff;
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 20px;
}

.special-nfty-reward .sp-header-text,
.advocate-text .advocate-heading-text,
.vote-page .vote-header-text,
.rep-page .rep-header-text {
  font-weight: 800;
  font-size: 26px;
  display: flex;
  justify-content: center;
}

.stats {
  padding: 10px;
  background: linear-gradient(
    91.49deg,
    rgba(255, 194, 9, 0.15) 36.72%,
    rgba(255, 142, 9, 0.15) 80.84%
  );
  border-radius: 15px;
  width: 100%;
  align-self: center;
}

.stats .margin-top {
  margin-top: 10px;
}
.stats hr {
  position: relative;
  border: 0.5px solid #dfdfdf;
  transform: rotate(90deg);
  background-color: #dfdfdf;
  width: 62px;
  height: 0px;
  margin-top: -29px;
  margin-left: 179px;
}

.target-data .progress-bar {
  height: 12px;
  /* border-radius: 10px; */
  background-color: #ffffff;
}
.stats .stats-hr {
  margin-top: -29px;
  margin-left: 142px;
}

.stats .stats-rep-hr {
  margin-top: -29px;
  margin-left: 166px;
}

.stakes .data-container {
  background: #ffffff;
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 15px;
}

.data-container .star-img {
  width: 17px;
  height: 17px;
}

.data-container hr {
  border: 0.5px solid #d0d0d0;
  margin-top: 0;
  margin-bottom: 0;
}

.user-stats .star-img {
  height: 18px;
  width: 18px;
}

.f-b {
  font-weight: bold;
}

.target-data {
  font-size: 14px;
  justify-content: center;
}

.target-data .bar-img {
  max-width: 130px;
  width: 100%;
}
.target-data .stakedbar-img {
  max-width: 172px;
  width: 100%;
}

.target-data-border {
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.data-container .calculate-nfty {
  padding: 20px;
}

.calculate-nfty .plus-minus-btn {
  width: 26px;
  height: 26px;
  background: #ffc209;
  border-radius: 4px;
  /* padding: 5px; */
  border: unset;
}

.calculate-nfty .calculated-amount {
  font-size: 144px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.1);
}

.data-container .after-login-btn {
  padding: 20px 35px;

  background: linear-gradient(
    96.47deg,
    rgba(255, 194, 9, 0.15) 12.61%,
    rgba(255, 142, 9, 0.15) 95.21%
  );
  border-radius: 0px 0px 20px 20px;
}

.orange-btn {
  background: #ff8e09;
  border-radius: 10px;
  font-weight: bold;
  height: 55px;
  border: 0;
  text-align: center;
  color: #ffffff;
}
.after-login-btn .orange-btn {
  font-size: 16px;
}

.yellow-btn {
  background: #ffd600;
  border-radius: 10px;
  font-weight: bold;
  height: 55px;
  border: 0;
  text-align: center;
  color: #000000;
}

.after-login-btn .yellow-btn {
  font-size: 16px;
}

.before-login-btn .orange-btn {
  font-size: 16px;
}
.before-login-btn .yellow-btn {
  font-size: 16px;
}

.roi-calc-modal .exchange-arrow-img {
  height: 16px;
  width: 40px;
  cursor: pointer;
}

.roi-calc-modal .input-amount {
  background: #ffffff;
  border: 1px solid #787878;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 2px 6px;
  max-width: 200px;
  height: 30px;
  font-size: 14px;
}

.roi-calc-modal .nfty-logo {
  height: 18px;
  margin-right: 8px;
  margin-bottom: 2px;
}

.roi-calc-modal .calculated-amount {
  font-size: 70px;
  color: rgba(0, 0, 0, 0.1);
  font-weight: 900;
}

.roi-calc-modal .nfty-amount-select span {
  padding: 7px 18px;
  background: #f2f2f2;
  border-radius: 300px;
  cursor: pointer;
}

.roi-calc-modal .apr-text {
  background: linear-gradient(
    96.47deg,
    rgba(255, 194, 9, 0.15) 12.61%,
    rgba(255, 142, 9, 0.15) 95.21%
  );
  border-radius: 300px;
  padding: 5px 0;
  font-size: 14px;
  padding-top: 8px;
}

.apr-text .green-text {
  color: #27ae60;
}

.staked-for .btn {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
}

.roi-calc-modal .btn:focus,
.roi-calc-modal .btn-active {
  background-color: #27ae60;
}

.f-14 {
  font-size: 14px;
}

.f-12 {
  font-size: 12px;
}

.f-24 {
  font-size: 24px;
}
.f-16 {
  font-size: 16px;
}
.f-22 {
  font-size: 22px;
}
.f-20 {
  font-size: 20px;
}
.roi-calc-modal-footer img {
  height: 18px;
  margin-bottom: 4px;
}

.roi-calc-modal-footer .yellow-btn {
  font-size: 18px;
  height: 50px;
}

.nfty-amount-select .btn {
  background-color: #f2f2f2;
  margin: 7px 18px;
  height: 35px;
}

.connect-wallet-modal {
  margin: 10px 30px;
}
.connect-wallet-modal .btn {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.connect-wallet-modal .btn:focus {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.connect-wallet-modal img {
  height: 30px;
  width: 30px;
}

.stake-unstake-modal .nfty-logo {
  height: 18px;
  margin-right: 8px;
}

.stake-unstake-modal .calculated-amount {
  font-size: 70px;
  color: rgba(0, 0, 0, 0.1);
  font-weight: 900;
}

.tooltip-btn {
  background: #ffc209;
  border-radius: 50%;
  height: 32px;
  margin-bottom: 5px;
}

.stake-unstake-modal-footer {
  margin-top: 0;
  padding: 0;
}
.stake-unstake-modal-footer button,
.apr-earned-modal-footer button {
  height: 50px;
}

.justify-content-space-around {
  justify-content: space-around;
}

.apr-earned-modal img {
  height: 18px;
  margin-bottom: 8px;
}

.advocate,
.vote-page,
.rep-page {
  background: #ffffff;
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 20px 30px;
  /* margin: 4px 20px; */
}

.advocate .advocate-body-text,
.vote-page .vote-body-text,
.rep-page .rep-body-text,
.rep-body-text {
  font-size: 14px;
  opacity: 0.6;
}

.advocate .orange-btn,
.advocate .yellow-btn,
.rep-page .yellow-btn {
  font-size: 16px;
  font-weight: bold;
  height: 55px;
}

.advocate .nfty-logo {
  height: 16px;
  margin-bottom: 8px;
  margin-right: 4px;
}

.rewards-earned-modal img {
  height: 18px;
  margin-bottom: 8px;
}

.rewards-earned-modal .opacity,
.apr-earned-modal .opacity {
  opacity: 0.6;
}

.vote-page .link-text {
  opacity: 0.6;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
}

.dropdown-btn:hover {
  background-color: #ffffff;
  color: #dfdfdf;
}

.dropdown-btn:focus {
  background-color: #ffffff;
  border: none;
}
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.dropdown-toggle::after {
  display: none;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.navbar-btns {
  align-items: center;
}

.rc-slider-rail,
.rc-slider-track {
  height: 12px;
}

.rc-slider-handle {
  height: 16px;
  width: 16px;
  margin-top: -2;
}

.rep-page .rep-profile-details {
  display: flex;
}

.rep-profile-details .rep-header-text {
  font-size: 25px;
  justify-content: flex-start;
}

.rep-page .rep-profile {
  display: flex;
  justify-content: space-between;
  margin-left: -8px;
}

.rep-profile .rep-profile-pic {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.rep-page-nfty-logo {
  height: 18px;
  margin-bottom: 8px;
}

.rep-gold-star-img {
  height: 16px;
  margin-bottom: 5px;
}

.profile-modal {
  text-align: center;
  margin-top: 20px;
}

.profile-modal .profile-name {
  font-size: 22px;
  font-weight: bold;
}

.navbar-btns img {
  height: 20px;
  width: 20px;
}

.profile-modal .profile-pic {
  position: relative;
}

.profile-modal .camera-icon {
  position: absolute;
  left: 54%;
  top: 62%;
  transform: translate(12%, -2%);
}

.calculated-amount .form-control {
  height: 90px;
  max-width: 556px;
  margin: 0 auto;
  font-size: 80px;
  text-align: center;
  opacity: 0.3;
  border: none;
}

.calculated-amount input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculated-amount input[type="number"] {
  -moz-appearance: textfield;
}

.calculated-amount .form-control:focus {
  color: #000000;
  opacity: 0.6;
  border-color: #ffffff;
  box-shadow: none;
  border: 0px #ffffff;
}

.stake-unstake-modal .form-control,
.roi-calc-modal .amount-input {
  font-size: 52px;
}

.slider-percentage-text {
  margin-left: -2.7px;
}

.custom-modal {
  bottom: 18px;
}

.profile-img img {
  height: 70px;
  width: 70px;
  margin-right: 22px;
}
.camera {
  height: 22px;
}
.camera input {
  opacity: 0;
  position: relative;
  width: 30px;
  z-index: 1;
  height: 30px;
  left: 9%;
  top: -111%;
  cursor: pointer;
}
.camera input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}
.camera img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}
.profile-modal .profile-pic .pic {
  height: 105px;
  width: 105px;
  border-radius: 50px;
}

.profile-name .form-control {
  max-width: 556px;
  margin: 0 auto;
  font-weight: bold;
  /* font-size: 22px; */
  text-align: center;
  color: #000000;
  border: none;
}
.profile-name .form-control:disabled,
.calculated-amount .form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff;
}

.profile-name .form-control:focus {
  color: #000000;
  border-color: #ffffff;
  box-shadow: none;
  border: 0px #ffffff;
}

.profile-bio textarea {
  border: none;
  width: 90%;
  height: 120px;
  text-align: center;
}
.profile-bio textarea:focus::placeholder {
  color: transparent;
}

.stake-data-percentage {
  color: #16d194;
  font-weight: 700;
  margin-left: 9px;
  min-width: 81px;
}
.stake-data-percentage-down {
  color: red;
  font-weight: 700;
  margin-left: 9px;
  min-width: 81px;
}
.stake-data-percentage-down .polygon-icon {
  height: 12px;
}
.stake-data-percentage .polygon-icon {
  height: 14px;
}

.advocate .banner {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 0px;
  width: 100%;
  text-align: center;
  background: #ffc209;
  border-radius: 15px;
}

.profile-name .fa-edit {
  display: flex;
  justify-content: flex-end;
  margin-right: 140px;
}

.walletconnect-modal__base {
  max-width: 400px !important;
}
