@media (max-width: 991px) {
  .nav-tab {
    display: block;
  }
  .f-18 {
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  .navbar {
    max-height: 98px;
    height: auto;
  }

  .after-login-btn .orange-btn {
    font-size: 14px;
  }

  .after-login-btn .yellow-btn {
    font-size: 14px;
  }
  .before-login-btn .yellow-btn {
    font-size: 14px;
  }
  .before-login-btn .orange-btn {
    font-size: 14px;
  }
  .advocate .yellow-btn,
  .advocate .orange-btn {
    font-size: 14px;
  }
  .roi-calc-modal-footer .yellow-btn {
    font-size: 14px;
    height: 60px;
  }
  .nfty-amount-select .btn {
    font-size: 12px;
    height: 48px;
  }
  .special-nfty-reward .sp-header-text,
  .advocate-text .advocate-heading-text,
  .vote-page .vote-header-text {
    font-size: 20px;
  }
  .vote-page .link-text {
    font-size: 14px;
  }
  .rep-profile-details .rep-header-text {
    font-size: 20px;
  }
}

@media (min-width: 356px) and (max-width: 440px) {
  /* .navbar-btns {
    width: 100%;
    justify-content: flex-end;
  } */
  .roi-calc-modal .amount-input-field {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
  .advocate .banner {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .calculate-nfty .calculated-amount {
    font-size: 100px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.1);
  }
  .calculate-nfty .head-text {
    font-size: 18px;
  }
  .stats .col-sm-4 {
    text-align: center;
    margin: 12px 0px;
  }
  .modal-content {
    overflow-y: scroll;
    height: 600px;
  }
}

@media (max-width: 740px) {
  .stats hr {
    display: none;
  }
  .target-data-border {
    border-right: 0;
    border-left: 0;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}

@media (max-height: 700px) {
  .modal-content {
    overflow-y: scroll;
    max-height: 600px;
  }
}

@media (min-width: 762px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
